* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-clr: #0b395b;
  --primary-txt-clr: #1a202c;
  --light-green: #68d391;
  --dark-green: hsl(144, 93%, 5%);
  --dark-grey: hsl(220, 26%, 10%);
  --btn-glow: 0 0 20px rgba(65, 184, 131, .8);
  --sub-heading-fz: 2.025rem;
  --alt-ease: cubic-bezier(.38,.63,.62,.92);
  --slide-delay: 200ms;
}

html,
button,
::before,
::after {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.02em;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #EDF2F7;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

p {
  line-height: 1.6;
}

p + p {
  margin-top: 1.5rem;
}

::selection {
  color: #000;
  background-color: #C3DAFE;
}

h1,
h2,
h3 {
  color: var(--primary-txt-clr);
}

.cta-btn {
  position: relative;
  z-index: 10;
  padding: 1.15rem 2.05rem;
  border: none;
  border-radius: 500px;
  background-color: var(--light-green);
  color: var(--dark-green);
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  cursor: pointer;
  outline: none;
}
.cta-btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 500px;
  box-shadow: var(--btn-glow);
  will-change: opacity;
  transition: opacity 150ms ease-in-out;
  opacity: 0;
}
.cta-btn:hover::after, .cta-btn:focus::after {
  opacity: 1;
}

.header {
  margin-top: 5.1875rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  width: 100%;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: flex-end;
}
.nav-list-main {
  display: flex;
  list-style: none;
}
.nav-list-main-item-link {
  display: inline-block;
  padding: 1rem 2.25rem;
  color: #333;
  font-weight: 500;
  font-size: 1.025rem;
  outline: none;
}
.nav-list-main-item-link:focus {
  text-decoration: underline;
}
.nav-sub-menu {
  position: relative;
}

.nav::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #1FA2FF;
  /* fallback for old browsers */
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
}

.nav-list-about {
  position: absolute;
  right: 0;
  display: flex;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 8px 17px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  transform: translate3d(0, -20px, 0);
  transition: opacity 300ms ease, transform 300ms ease;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.nav-list-about-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list-about-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.nav-list-about-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-list-about-item:hover {
  background-color: #f0f6f9;
}
.nav-list-about-link {
  display: block;
  padding: 1.5rem 3rem;
  color: #111;
}

.nav-sub-menu:hover .nav-list-about {
  opacity: 1;
  pointer-events: all;
  transform: translate3d(0, 0, 0);
}

.nav-sub-menu:hover .nav-sub-menu-about::after {
  transform: translateY(-45%) rotate(-180deg);
}

.hide {
  visibility: hidden;
  display: none;
}

.nav-sub-menu-about {
  position: relative;
}
.nav-sub-menu-about::after {
  content: "";
  top: 50%;
  right: 10%;
  transform: translateY(-55%) rotate(0);
  transition: transform 300ms ease;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../../assets/images/icons/icon-cheveron-down.svg);
  background-repeat: no-repeat;
}

.nav-list-main-item-link {
  transition: color 200ms ease-in-out;
}

.nav-list-main-item-link.active {
  color: #4299e1;
}

.header {
  position: relative;
  min-height: 88vh;
}
.header-info {
  margin-top: 6.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-info-title {
  margin: 2rem 0;
}
.header-info-projects {
  margin-top: 6rem;
}
.header::before {
  content: "";
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  transform: skewY(-9deg);
  transform-origin: top left;
  background: #fff;
}

@keyframes float-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-info-logo, .header-info-title, .header-info-projects {
  opacity: 0;
  animation: float-up 600ms var(--alt-ease) forwards;
}
.header-info-logo {
  animation-delay: 200ms;
}
.header-info-title {
  animation-delay: 400ms;
}
.header-info-projects {
  animation-delay: 600ms;
}

.about-me {
  position: relative;
  width: 75ch;
  max-width: 90%;
  margin: 8rem auto 0 auto;
  padding: 6rem 0;
}
.about-me::before {
  position: absolute;
  content: "";
  width: 12rem;
  height: 12rem;
  top: 0;
  right: 0;
  transform: translate(183%, 10%) rotate(-180deg);
  background: url(../../assets/images/texture-triangle-blue.svg) no-repeat center center;
}
.about-me::after {
  position: absolute;
  content: "";
  width: 12rem;
  height: 12rem;
  bottom: 0;
  left: 0;
  transform: translate(-183%, -10%);
  background: url(../../assets/images/texture-triangle-blue.svg) no-repeat center center;
}
.about-me-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: var(--sub-heading-fz);
}
.about-me-para {
  font-size: 1.1rem;
  color: var(--primary-txt-clr);
}

.drop-para::first-letter {
  float: left;
  margin-top: 0.26rem;
  margin-right: 0.55rem;
  color: #4299E1;
  font-size: 3.75rem;
  line-height: 3rem;
}

.drop-para-smallcaps {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  color: var(--primary-txt-clr);
}

.about-skills {
  width: 90rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.about-skills-title {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  font-size: var(--sub-heading-fz);
}

.about-skills-card {
  padding: 1.5rem 6rem;
  border: 1px solid #dde4ee;
  border-top: 5px solid #40a4f4;
  background-color: #fff;
  border-radius: 4px;
}
.about-skills-card-title {
  display: inline-block;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #e0e5eb;
  margin-bottom: 0.75rem;
  font-size: 1.35rem;
  color: var(--primary-txt-clr);
}
.about-skills-card-content {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.about-skills-card-content-img {
  margin-right: 1.25rem;
  will-change: filter;
  filter: grayscale(1);
  transition: filter 110ms ease-in-out;
}

.about-skills-card:hover .about-skills-card-content-img {
  filter: grayscale(0);
}

.slider {
  will-change: transform, opacity;
  transform: translateY(40px);
  opacity: 0;
  transition: transform 800ms cubic-bezier(0.39, 0.58, 0.57, 1), opacity 800ms cubic-bezier(0.39, 0.58, 0.57, 1);
}

.slider2 {
  transition-delay: var(--slide-delay);
}

.slider3 {
  transition-delay: calc(var(--slide-delay) * 2);
}

.slider.appear {
  transform: translateY(0);
  opacity: 1;
}

.about-education {
  padding: 6rem 0;
  background-color: #fff;
}
.about-education-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: var(--sub-heading-fz);
}

.about-education-grid {
  display: grid;
  width: 90rem;
  max-width: 90%;
  margin: 0 auto;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}
.about-education-grid-fig {
  width: 70%;
  height: auto;
  grid-column: 1/2;
  grid-row: 1/-1;
  justify-self: center;
  align-self: center;
}
.about-education-grid-img {
  width: 100%;
  height: auto;
}
.about-education-grid-content {
  border-left: 4px solid #40a4f4;
  padding-left: 0.75rem;
}
.about-education-grid-content-title {
  font-weight: 500;
}
.about-education-grid-content-subtitle {
  color: #59667d;
  font-weight: 400;
}
.about-education-grid-content-desc {
  margin-top: 0.7rem;
  font-size: 1rem;
}
.about-education-grid .content1 {
  grid-column: 2/-1;
  grid-row: 2/span 1;
  align-self: center;
}
.about-education-grid .content2 {
  grid-column: 2/-1;
  grid-row: 3/span 1;
  align-self: center;
}

.portfolio {
  padding: 6rem 0rem;
}
.portfolio-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: var(--sub-heading-fz);
}
.portfolio-cards {
  width: 70rem;
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 3rem 2rem;
}

.portfolio-card {
  transform: translate3d(0, 0, 0);
  transition: transform 250ms ease, box-shadow 250ms ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 4px;
}
.portfolio-card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.portfolio-card-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 2.875rem;
}
.portfolio-card-title, .portfolio-card-icons-list {
  margin-bottom: 0.75rem;
}
.portfolio-card-title {
  font-weight: 400;
}
.portfolio-card-icons-list {
  list-style: none;
  display: flex;
  gap: 1.35rem;
}
.portfolio-card-icons-item {
  background-color: #cbd5e0;
  border-radius: 50%;
}
.portfolio-card-icons-item-link {
  position: relative;
  display: inline-flex;
  padding: 0.75rem;
}
.portfolio-card-icons-item-link::before {
  opacity: 0;
  transition: opacity 120ms ease-in-out, transform 120ms ease-in-out;
  pointer-events: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 110%) scale(0.8);
  content: attr(data-tooltip);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #32325d;
  color: #fafcff;
}
.portfolio-card-icons-item-link:hover::before {
  opacity: 1;
  transform: translate(-50%, 110%) scale(1);
  pointer-events: all;
}

.portfolio-card:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 12px 22px rgba(0, 0, 0, 0.2);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  background-color: #32325d;
}
.contact-form {
  width: 50rem;
  max-width: 90%;
}
.contact-form-title {
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;
  font-weight: 400;
  font-size: var(--sub-heading-fz);
}
.contact-form-field {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}
.contact-form-label {
  color: #fff;
  margin-bottom: 0.9rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.contact-form-input {
  font-size: 1.05rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #32325d;
  border-bottom: 2px solid #999;
  transition: border-bottom 200ms ease;
  color: #fff;
}
.contact-form-input:focus {
  border-bottom: 2px solid var(--light-green);
}
.contact-form-textarea {
  resize: none;
  padding: 0.5rem;
  font-size: 1.05rem;
  border: none;
  border-radius: 4px;
  font-family: "Work Sans", sans-serif;
}
.contact-form-submit-btn {
  align-self: flex-start;
  justify-self: center;
}
.contact-form-error {
  background-color: #C6F6D5;
  color: #222;
  border-radius: 0 0 4px 4px;
}
.contact-form-error.error-active {
  padding: 0.5rem 1rem;
}

.hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.footer {
  padding: 2.75rem 0;
  background-color: var(--dark-grey);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%2332325d' fill-opacity='0.34' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons-link {
  margin: 0 1rem;
  cursor: pointer;
  opacity: 0.65;
  transition: opacity 150ms ease;
}
.footer-icons-link:hover {
  opacity: 1;
}
.footer-name {
  margin-top: 1.5rem;
  text-align: center;
  color: #afbad0;
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (max-width: 95em) {
  .about-me::before,
.about-me::after {
    width: 0;
    height: 0;
  }
}
@media screen and (max-width: 47.5em) {
  .about-education-grid {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-gap: 2rem;
  }
  .about-education-grid-img {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .about-education-grid .content1 {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .about-education-grid .content2 {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 37.5em) {
  .header {
    margin-top: 3.8rem;
  }
  .header-info-projects {
    margin-top: 1rem;
  }

  .nav {
    justify-content: center;
    padding: 1rem 0;
  }

  .nav-list-about {
    left: 0;
    right: auto;
  }
  .nav-list-about-link {
    padding: 1.1rem 2.15rem;
  }

  .nav-list-main-item-link {
    padding: 0.75rem 1.5rem;
  }

  .about-skills {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .about-skills-card {
    padding: 1.35rem 1.5rem;
  }

  .floater {
    left: 0;
  }

  .slider2 {
    transition-delay: 0ms;
  }

  .slider3 {
    transition-delay: 0ms;
  }

  .nav-sub-menu-about::after {
    right: 0;
  }

  .contact-form-title {
    font-size: 1.9rem;
    margin-bottom: 4rem;
  }

  .contact-form-field {
    margin: 1.5rem 0;
  }

  .contact-form-label {
    font-size: 1rem;
  }

  .contact-form-submit-btn {
    font-size: 1.1rem;
  }

  .footer-name {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
