* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-clr: #181554;
  --bg-clr: #0b395b;
  --bg-light-clr: hsl(206, 78%, 35%);
  --light-green: #41B883;
  --dark-grey: #0c1014;
  --btn-glow: 0 0 20px rgba(65, 184, 131, .8);
}

html,
button,
::before,
::after {
  font-family: "Exo 2", sans-serif;
  letter-spacing: 0.02em;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.header {
  margin-top: 5.1875rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(11, 57, 91, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: flex-end;
}
.nav-list-main {
  display: flex;
  list-style: none;
}
.nav-list-main-item-link {
  display: inline-block;
  padding: 1rem 2.25rem;
  color: #fff;
  font-weight: 500;
}
.nav-sub-menu {
  position: relative;
}

.nav-list-about {
  position: absolute;
  right: 0;
  display: flex;
  list-style: none;
  background-color: var(--bg-clr);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  transform: translate3d(0, -10px, 0);
  transition: opacity 350ms ease, transform 350ms ease;
  opacity: 0;
  pointer-events: none;
}
.nav-list-about-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list-about-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.nav-list-about-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-list-about-item:hover {
  background-color: var(--bg-light-clr);
}
.nav-list-about-link {
  display: block;
  padding: 1.5rem 3rem;
  color: #fff;
}

.nav-sub-menu:hover .nav-list-about {
  opacity: 1;
  pointer-events: all;
  transform: translate3d(0, 0, 0);
}

.nav-sub-menu-about {
  position: relative;
}
.nav-sub-menu-about::after {
  content: "";
  top: 50%;
  right: 10%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../../images/icon-cheveron-down.svg);
  background-repeat: no-repeat;
}

.nav-list-main-item-link {
  transition: color 200ms ease-in-out;
}

.nav-list-main-item-link.active {
  color: lightcoral;
}

.header {
  position: relative;
  min-height: 88vh;
}
.header-info {
  margin-top: 6.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-info-title {
  margin: 2rem 0;
}
.header-info-projects {
  margin-top: 6rem;
  padding: 1.25rem 3rem;
  border: none;
  border-radius: 4px;
  background-color: var(--light-green);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}
.header-info-projects:hover {
  box-shadow: var(--btn-glow);
}
.header::before {
  content: "";
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  transform: skewY(-9deg);
  transform-origin: top left;
  background-color: #ddd;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

@keyframes float-up {
  from {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.header-info-logo {
  animation-delay: 300ms;
}
.header-info-title {
  animation-delay: 900ms;
}
.header-info-projects {
  animation-delay: 1500ms;
}

.about-me {
  background-color: lightgreen;
  margin-top: 10rem;
  padding: 6rem 0;
}
.about-me-title {
  text-align: center;
}

.about-skills {
  width: 90rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.about-skills-title {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  margin-bottom: 2rem;
}

.about-skills-card {
  padding: 1.5rem 6rem;
  background-color: #eee;
  border-top: 5px solid #40a4f4;
  border-radius: 4px;
}
.about-skills-card-title {
  display: inline-block;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0.75rem;
  font-size: 1.35rem;
}
.about-skills-card-content {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.about-skills-card-content-img {
  margin-right: 1.25rem;
  filter: grayscale(1);
  transition: filter 200ms ease-in-out;
}

.about-skills-card:hover .about-skills-card-content-img {
  filter: grayscale(0);
}

.about-skills {
  width: 90rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.about-skills-title {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  margin-bottom: 2rem;
}

.about-skills-card {
  padding: 1.5rem 6rem;
  background-color: #eee;
  border-top: 5px solid #40a4f4;
  border-radius: 4px;
}
.about-skills-card-title {
  display: inline-block;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0.75rem;
  font-size: 1.35rem;
}
.about-skills-card-content {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.about-skills-card-content-img {
  margin-right: 1.25rem;
  filter: grayscale(1);
  transition: filter 200ms ease-in-out;
}

.about-skills-card:hover .about-skills-card-content-img {
  filter: grayscale(0);
}

.portfolio {
  padding: 6rem 0rem;
  background-color: #eee;
}
.portfolio-title {
  margin-bottom: 4rem;
  text-align: center;
}
.portfolio-cards {
  width: 70rem;
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 3rem 2rem;
}

.portfolio-card {
  transform: translate3d(0, 0, 0);
  transition: transform 350ms ease;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}
.portfolio-card-img {
  width: 100%;
}
.portfolio-card-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 3.25rem;
}
.portfolio-card-title, .portfolio-card-icons-list {
  margin-bottom: 0.75rem;
}
.portfolio-card-icons-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.portfolio-card-icons-item {
  background-color: #ccc;
  border-radius: 50%;
}
.portfolio-card-icons-item-link {
  position: relative;
  display: inline-block;
  padding: 0.75rem;
}
.portfolio-card-icons-item-link::before {
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 110%);
  content: attr(data-tooltip);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #999;
}
.portfolio-card-icons-item-link:hover::before {
  opacity: 1;
  pointer-events: all;
}

.portfolio-card:hover {
  transform: translate3d(0, -6px, 0);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  background-color: var(--main-bg-clr);
}
.contact-form {
  width: 50rem;
  max-width: 90%;
}
.contact-form-title {
  text-align: center;
  margin-bottom: 6rem;
  color: #fff;
  font-weight: 400;
  font-size: 2.1rem;
}
.contact-form-field {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}
.contact-form-label {
  color: #fff;
  margin-bottom: 0.9rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.contact-form-input {
  font-size: 1.05rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: var(--main-bg-clr);
  border-bottom: 2px solid #999;
  transition: border-bottom 200ms ease;
  color: #fff;
}
.contact-form-input:focus {
  border-bottom: 2px solid #00a0a0;
}
.contact-form-textarea {
  resize: none;
  padding: 0.5rem;
  font-size: 1.05rem;
  border: none;
  border-radius: 4px;
  font-family: "Exo 2", sans-serif;
}
.contact-form-submit-btn {
  align-self: flex-start;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--light-green);
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}
.contact-form-submit-btn:hover {
  box-shadow: var(--btn-glow);
}

.footer {
  padding: 3rem 0;
  background-color: var(--dark-grey);
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons-link {
  margin: 0 1rem;
  cursor: pointer;
  transition: opacity 200ms ease;
}
.footer-icons-link:hover {
  opacity: 0.6;
}
.footer-name {
  margin-top: 1.5rem;
  text-align: center;
  color: #d9d9d9;
  font-weight: 400;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
