* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-clr: #0b395b;
  --light-green: #41B883;
  --dark-grey: #0c1014;
  --btn-glow: 0 0 20px rgba(65, 184, 131, .8);
  --sub-heading-fz: 2.025rem;
  --alt-ease: cubic-bezier(.38,.63,.62,.92);
  --slide-delay: 200ms;
}

html,
button,
::before,
::after {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.02em;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #EDF2F7;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

p {
  line-height: 1.6;
}

p + p {
  margin-top: 1.5rem;
}

::selection {
  color: #000;
  background-color: #C3DAFE;
}

.header {
  margin-top: 5.1875rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  width: 100%;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: flex-end;
}
.nav-list-main {
  display: flex;
  list-style: none;
}
.nav-list-main-item-link {
  display: inline-block;
  padding: 1rem 2.25rem;
  color: #333;
  font-weight: 500;
  font-size: 1.025rem;
  outline: none;
}
.nav-sub-menu {
  position: relative;
}

.nav::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #1FA2FF;
  /* fallback for old browsers */
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
}

.nav-list-about {
  position: absolute;
  right: 0;
  display: flex;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.12), 0 7px 18px rgba(0, 0, 0, 0.075);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  transform: translate3d(0, -20px, 0);
  transition: opacity 300ms ease, transform 300ms ease;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.nav-list-about-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list-about-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.nav-list-about-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-list-about-item:hover {
  background-color: #f0f6f9;
}
.nav-list-about-link {
  display: block;
  padding: 1.5rem 3rem;
  color: #111;
}

.nav-sub-menu:hover .nav-list-about {
  opacity: 1;
  pointer-events: all;
  transform: translate3d(0, 0, 0);
}

.nav-sub-menu:hover .nav-sub-menu-about::after {
  transform: translateY(-45%) rotate(-180deg);
}

.hide {
  visibility: hidden;
  display: none;
}

.nav-sub-menu-about {
  position: relative;
}
.nav-sub-menu-about::after {
  content: "";
  top: 50%;
  right: 10%;
  transform: translateY(-55%) rotate(0);
  transition: transform 300ms ease;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../../assets/images/icon-cheveron-down.svg);
  background-repeat: no-repeat;
}

.nav-list-main-item-link {
  transition: color 200ms ease-in-out;
}

.nav-list-main-item-link.active {
  color: #4299e1;
}

.header {
  position: relative;
  min-height: 88vh;
}
.header-info {
  margin-top: 6.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-info-title {
  margin: 2rem 0;
}
.header-info-projects {
  margin-top: 6rem;
  padding: 1.25rem 3rem;
  border: none;
  border-radius: 4px;
  background-color: var(--light-green);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: box-shadow 120ms ease-in-out;
  outline: none;
}
.header-info-projects:hover {
  box-shadow: var(--btn-glow);
}
.header::before {
  content: "";
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  transform: skewY(-9deg);
  transform-origin: top left;
  background: #fff;
}

@keyframes float-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-info-logo, .header-info-title, .header-info-projects {
  opacity: 0;
  animation: float-up 600ms var(--alt-ease) forwards;
}
.header-info-logo {
  animation-delay: 300ms;
}
.header-info-title {
  animation-delay: 600ms;
}
.header-info-projects {
  animation-delay: 800ms;
}

.about-me {
  width: 75ch;
  max-width: 90%;
  margin: 8rem auto 0 auto;
  padding: 6rem 0;
}
.about-me-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: var(--sub-heading-fz);
}
.about-me-para {
  font-size: 1.1rem;
}

.drop-para::first-letter {
  color: var(--bg-clr);
  font-size: 3.75rem;
  line-height: 3rem;
  float: left;
  margin-right: 0.55rem;
}

.drop-para-smallcaps {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

.about-skills {
  width: 90rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.about-skills-title {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  margin-bottom: 2rem;
  font-size: var(--sub-heading-fz);
}

.about-skills-card {
  padding: 1.5rem 6rem;
  border-top: 5px solid #40a4f4;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.about-skills-card-title {
  display: inline-block;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0.75rem;
  font-size: 1.35rem;
}
.about-skills-card-content {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.about-skills-card-content-img {
  margin-right: 1.25rem;
  filter: grayscale(1);
  transition: filter 160ms ease-in-out;
}

.about-skills-card:hover .about-skills-card-content-img {
  filter: grayscale(0);
}

.slider {
  will-change: transform;
  transform: translateY(80px);
  opacity: 0;
  transition: transform 900ms ease, opacity 900ms ease;
}

.slider2 {
  transition-delay: var(--slide-delay);
}

.slider3 {
  transition-delay: calc(var(--slide-delay) * 2);
}

.slider.appear {
  transform: translateY(0);
  opacity: 1;
}

.about-education {
  padding: 6rem 0;
  background-color: #fff;
}
.about-education-title {
  text-align: center;
  font-size: var(--sub-heading-fz);
}

.about-education-grid {
  display: grid;
  width: 100rem;
  max-width: 90%;
  margin: 0 auto;
  grid-template-columns: 3fr 0.25fr 2fr;
  grid-template-rows: repeat(4, 1fr);
}
.about-education-grid-img {
  width: 90%;
  grid-column: 1/3;
  grid-row: 1/-1;
  justify-self: center;
  align-self: center;
}
.about-education-grid-content {
  border-left: 4px solid #40a4f4;
  padding-left: 0.75rem;
}
.about-education-grid-content-subtitle {
  color: #667c99;
  font-weight: 400;
}
.about-education-grid-content-desc {
  margin-top: 0.7rem;
  font-size: 1rem;
}
.about-education-grid .content1 {
  grid-column: 2/-1;
  grid-row: 2/span 1;
  align-self: center;
}
.about-education-grid .content2 {
  grid-column: 2/-1;
  grid-row: 3/span 1;
  align-self: center;
}

.portfolio {
  padding: 6rem 0rem;
}
.portfolio-title {
  margin-bottom: 4rem;
  text-align: center;
  font-size: var(--sub-heading-fz);
}
.portfolio-cards {
  width: 70rem;
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 3rem 2rem;
}

.portfolio-card {
  transform: translate3d(0, 0, 0);
  transition: transform 350ms ease, box-shadow 350ms ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.portfolio-card-img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.portfolio-card-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 3.25rem;
}
.portfolio-card-title, .portfolio-card-icons-list {
  margin-bottom: 0.75rem;
}
.portfolio-card-title {
  font-weight: 400;
}
.portfolio-card-icons-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.portfolio-card-icons-item {
  background-color: #cbd5e0;
  border-radius: 50%;
}
.portfolio-card-icons-item-link {
  position: relative;
  display: inline-flex;
  padding: 0.75rem;
}
.portfolio-card-icons-item-link::before {
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 110%);
  content: attr(data-tooltip);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #999;
}
.portfolio-card-icons-item-link:hover::before {
  opacity: 1;
  pointer-events: all;
}

.portfolio-card:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 12px 22px rgba(0, 0, 0, 0.2);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  background-color: #32325d;
}
.contact-form {
  width: 50rem;
  max-width: 90%;
}
.contact-form-title {
  text-align: center;
  margin-bottom: 6rem;
  color: #fff;
  font-weight: 400;
  font-size: var(--sub-heading-fz);
}
.contact-form-field {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}
.contact-form-label {
  color: #fff;
  margin-bottom: 0.9rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.contact-form-input {
  font-size: 1.05rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #32325d;
  border-bottom: 2px solid #999;
  transition: border-bottom 200ms ease;
  color: #fff;
}
.contact-form-input:focus {
  border-bottom: 2px solid #00a0a0;
}
.contact-form-textarea {
  resize: none;
  padding: 0.5rem;
  font-size: 1.05rem;
  border: none;
  border-radius: 4px;
  font-family: "Work Sans", sans-serif;
}
.contact-form-submit-btn {
  align-self: flex-start;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--light-green);
  color: #fff;
  font-size: 1.1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: box-shadow 120ms ease-in-out;
  outline: none;
}
.contact-form-submit-btn:hover {
  box-shadow: var(--btn-glow);
}
.contact-form-error {
  background-color: #C6F6D5;
  color: #222;
  border-radius: 0 0 4px 4px;
}
.contact-form-error.error-active {
  padding: 0.5rem 1rem;
}

.hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.footer {
  padding: 2.75rem 0;
  background-color: var(--dark-grey);
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons-link {
  margin: 0 1rem;
  cursor: pointer;
  opacity: 0.65;
  transition: opacity 180ms ease;
}
.footer-icons-link:hover {
  opacity: 1;
}
.footer-name {
  margin-top: 1.5rem;
  text-align: center;
  color: #a6a6a6;
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (max-width: 47.5em) {
  .about-education-grid {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-gap: 2rem;
  }
  .about-education-grid-img {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .about-education-grid .content1 {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .about-education-grid .content2 {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 37.5em) {
  .header {
    margin-top: 3.8rem;
  }
  .header-info-projects {
    margin-top: 1rem;
  }

  .nav {
    justify-content: center;
    padding: 1rem 0;
  }

  .nav-list-about {
    left: 0;
    right: auto;
  }
  .nav-list-about-link {
    padding: 1.1rem 2.15rem;
  }

  .nav-list-main-item-link {
    padding: 0.75rem 1.5rem;
  }

  .about-skills {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .about-skills-card {
    padding: 1.35rem 1.5rem;
  }

  .floater {
    left: 0;
  }

  .slider2 {
    transition-delay: 0ms;
  }

  .slider3 {
    transition-delay: 0ms;
  }

  .nav-sub-menu-about::after {
    right: 0;
  }

  .contact-form-title {
    font-size: 1.9rem;
    margin-bottom: 4rem;
  }

  .contact-form-field {
    margin: 1.5rem 0;
  }

  .contact-form-label {
    font-size: 1rem;
  }

  .contact-form-submit-btn {
    font-size: 1.1rem;
  }

  .footer-name {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
