.about-skills {
    width: 90rem;
    max-width: 90%;
    margin: 0 auto;
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
}

.about-skills-title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
}

.about-skills-card {
    padding: 1.5rem 6rem;
    border-top: 5px solid #40a4f4;
    box-shadow: 0 4px 12px hsl(0deg 0% 0% / 12%);
    background-color: #fff;
    border-radius: 4px;

    &-title {
        display: inline-block;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid hsl(213deg 21% 90%);
        margin-bottom: 0.75rem;
        font-size: var(--fz-md);
        color: var(--primary-txt-clr);
    }

    &-content {
        display: flex;
        align-items: center;
        margin: 1.5rem 0;

        &-img {
            margin-right: 1.25rem;
            will-change: filter;
            filter: grayscale(1);
            transition: filter 110ms ease-in-out;
        }
    }
}

.about-skills-card:hover .about-skills-card-content-img {
    filter: grayscale(0);
}
