// Global styles
:root {
    --primary-bg-clr: #edf2f7;
    --bg-clr: #0b395b;
    --primary-txt-clr: #1e293b;
    --light-green: #6ee7b7;
    --dark-green: hsl(164deg 86% 14%);
    --dark-grey: hsl(220deg 26% 10%);
    --btn-glow: 0 0 20px rgb(110 231 183 / 97.5%);
    --alt-ease: cubic-bezier(0.38, 0.63, 0.62, 0.92);
    --z-foreground-cta: 10;
    --z-foreground-menu: 10;
    --z-background: -10;
    --fz-xl: 2.25rem;
    --fz-lg: 1.5rem;
    --fz-md: 1.125rem;
    --bold: 600;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg-clr);
    color: var(--primary-txt-clr);
}

img {
    display: block;
}

// typography
a,
p,
button,
label,
input,
textarea {
    font-size: var(--fz-md);
}

a {
    color: var(--primary-txt-clr);
    text-decoration: none;
    cursor: pointer;
}

p {
    line-height: 1.6;
}

p + p {
    margin-top: 1.5rem;
}

::selection {
    background-color: #c3dafe;
}

[popover] {
    border: none;
    margin: auto; // keep default "auto" value to remain centered

    video {
        display: block;
        width: 100%;
        height: 100%;
    }
}

:popover-open {
    width: min(70rem, 90%);
}

.video-popover {
    anchor-name: --video-popover;

    .popover-close-button {
        position-anchor: --video-popover;
        position: fixed;
        position-area: top center;
        justify-self: end;
        border: none;
        margin-block-end: 0.5rem;
        padding-block: 0.75rem;
        color: white;
        background-color: transparent;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}

::backdrop {
    background-color: rgb(0 0 0 / 90%);
}

.content-heading {
    font-size: var(--fz-xl);
    font-weight: var(--bold);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--light-green);
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

.cta-btn {
    position: relative;
    z-index: var(--z-foreground-cta);
    padding: 1.15rem 2.05rem;
    border: none;
    border-radius: 500px;
    background-color: var(--light-green);
    color: var(--dark-green);
    font-weight: var(--bold);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    cursor: pointer;
    outline: none;

    // Fake box-shadow animation with pseudo-element for better performance.
    &::after {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 500px;
        box-shadow: var(--btn-glow);
        will-change: opacity;
        transition: opacity 150ms ease-in-out;
        opacity: 0;
    }

    &:hover::after,
    &:focus::after {
        opacity: 1;
    }
}
