.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
    background-color: #32325d;

    &-form {
        width: 50rem;
        max-width: 90%;

        &-title {
            text-align: center;
            margin-bottom: 5rem;
            color: #fff;
        }

        &-field {
            display: flex;
            flex-direction: column;
            margin: 3rem;
        }

        &-label {
            color: #fff;
            margin-bottom: 0.9rem;
            font-weight: var(--bold);
        }

        &-input,
        &-textarea {
            field-sizing: content;
        }

        &-input {
            padding: 0.5rem;
            border: none;
            outline: none;
            background-color: #32325d;
            border-bottom: 2px solid #999;
            transition: border-bottom 200ms ease;
            color: #fff;

            &:user-invalid {
                border-bottom: 2px solid var(--mid-red);
            }

            &:user-valid {
                border-bottom: 2px solid var(--light-green);
            }
        }

        &-textarea {
            resize: none;
            padding: 0.5rem 0.75rem;
            border: 2px solid #999;
            corner-shape: squircle;
            border-radius: var(--squircle-round-size-md);
            font-family: "Work Sans", sans-serif;
            transition: border 200ms ease;

            &:user-invalid {
                border: 2px solid var(--mid-red);
            }

            &:user-valid {
                border: 2px solid var(--light-green);
            }
        }

        &-submit-btn {
            place-self: flex-start center;
        }

        &-error {
            background-color: var(--light-red);
            color: var(--dark-red);
            border-radius: 0 0 4px 4px;
        }

        &-error.error-active {
            padding: 0.5rem 1rem;
        }
    }
}

.visually-hidden {
    position: absolute;
    clip-path: inset(100%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}
