.header {
    margin-top: 5.1875rem; // Offset height of fixed navbar
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-foreground-menu);
    background: #fff;
    width: 100%;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: flex-end;

    &-sub-menu {
        position: relative;
    }

    &-sub-menu__title {
        background: none;
        border: none;

        // Dropdown Menu Chevron
        position: relative;

        &::after {
            content: "";
            top: 52%;
            right: 0.25rem;
            transform: translateY(-55%) rotate(0);
            transition: transform 300ms ease;
            width: 20px;
            height: 20px;
            position: absolute;
            background-image: url("/assets/images/icons/icon-cheveron-down.svg");
            background-repeat: no-repeat;
        }

        // Animate chevron
        &--rotate::after {
            transform: translateY(-45%) rotate(-180deg);
        }

        &:focus {
            text-decoration: underline;
        }
    }

    &-list-main {
        display: flex;
        align-items: center;
        list-style: none;

        &-item-link,
        .nav-sub-menu__title {
            display: inline-block;
            padding: 1rem 2rem;
            color: var(--primary-txt-clr);
            font-weight: 400;
            outline: none;
            cursor: pointer;

            &:focus {
                text-decoration: underline;
            }
        }
    }
}

.nav::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #1fa2ff; /* fallback for old browsers */
    background: linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
}

.nav-list-about {
    visibility: hidden;
    position: absolute;
    right: 0;
    display: flex;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 7px 17px hsl(210deg 8% 62% / 20%);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    will-change: transform;
    transform: translateY(-20px);
    transition:
        opacity 300ms ease,
        transform 300ms ease;
    opacity: 0;
    z-index: var(--z-foreground-menu);

    &-item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &:hover {
            background-color: hsl(204deg 45% 96%);
        }
    }

    &-link {
        display: block;
        padding: 1.5rem 3rem;
    }
}

// Animate drop-down
.nav-list-about--show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.header {
    position: relative;
    min-height: 88vh;

    &-info {
        margin-top: 6.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            margin: 2rem 0;
        }

        &-projects {
            margin-top: 6rem;
        }
    }

    // Skewed background
    &::before {
        content: "";
        position: absolute;
        z-index: var(--z-background);
        width: 100%;
        height: 100%;
        transform: skewY(-9deg);
        transform-origin: top left;
        background: #fff;
    }
}

// Header Animations
@keyframes float-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-info {
    &-title,
    &-projects {
        opacity: 0;
        will-change: opacity, transform;
        animation: float-up 600ms var(--alt-ease) forwards;
    }

    &-title {
        font-size: var(--fz-lg);
        font-weight: var(--bold);
        animation-delay: 200ms;
    }

    &-projects {
        animation-delay: 400ms;
    }
}
