.about-skills {
    width: 90rem;
    max-width: 90%;
    margin: 0 auto;
    padding: 6rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;

}

.about-skills-title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    margin-bottom: 2rem;

    font-size: var(--sub-heading-fz);
}

.about-skills-card {
    padding: 1.5rem 6rem;
    border-top: 5px solid #40a4f4;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);

    &-title {
        display: inline-block;
        padding-bottom: .25rem;
        border-bottom: 1px solid hsl(0, 0%, 81%);
        margin-bottom: .75rem;

        font-size: 1.35rem;
    }

    &-content {
        display: flex;
        align-items: center;
        margin: 1.5rem 0;

        &-img {
            margin-right: 1.25rem;
            filter: grayscale(1);
            transition: filter 160ms ease-in-out;
        }
    }
}

.about-skills-card:hover .about-skills-card-content-img {
    filter: grayscale(0);
}

// Slide in images
.slider {
    will-change: transform;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 800ms ease,
                opacity 800ms ease;
}

.slider2 { transition-delay: var(--slide-delay); }

.slider3 { transition-delay: calc(var(--slide-delay) * 2); }

.slider.appear {
    transform: translateY(0);
    opacity: 1;
}