.about-me {
    position: relative;
    width: 75ch;
    max-width: 90%;
    margin: 8rem auto 0 auto;
    padding: 6rem 0;

    &::before {
        position: absolute;
        content: "";
        width: 12rem;
        height: 12rem;
        top: 0;
        right: 0;
        transform: translate(183%, 10%) rotate(-180deg);
        background: url(../../assets/images/texture-triangle-blue.svg) no-repeat center center;
    }

    &::after {
        position: absolute;
        content: "";
        width: 12rem;
        height: 12rem;
        bottom: 0;
        left: 0;
        transform: translate(-183%, -10%);
        background: url(../../assets/images/texture-triangle-blue.svg) no-repeat center center;
    }

    &-title {
        text-align: center;
        margin-bottom: 2rem;
        font-size: var(--sub-heading-fz);
    }

    &-para {
        font-size: 1.125rem;
        color: var(--primary-txt-clr);
    }
    
}

.drop-para::first-letter {
    float: left;
    margin-top: .25rem;
    margin-right: .55rem;
    color: #4299E1;
    font-size: 3.75rem;
    line-height: 3rem;
}

.drop-para-smallcaps {
    font-size: 1.0625rem;
    text-transform: uppercase;
    letter-spacing: .09em;
    color: var(--primary-txt-clr);
}