.footer {
    padding: 2.75rem 0;
    background-color: var(--dark-grey);

    &-icons {
        display: flex;
        justify-content: center;
        align-items: center;

        &-link {
            margin: 0 1rem;
            cursor: pointer;
            opacity: .65;
            transition: opacity 150ms ease;

            &:hover {
                opacity: 1;
            }
        }
    }

    &-name {
        margin-top: 1.5rem;
        text-align: center;
        color: hsl(0, 0%, 65%);
        font-weight: 400;
        font-size: 1rem;
    }
}