.header {
    margin-top: 5.1875rem; // Offset height of fixed navbar
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-foreground-menu);

    background: #fff;
    width: 100%;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: flex-end;

    &-list-main {
      display: flex;
      align-items: center;
      list-style: none;

      &-item-link,
      .nav-sub-menu__title {
        display: inline-block;
        padding: 1rem 2rem;
        color: var(--primary-txt-clr);
        font-weight: 400;
        font-size: 1.0625rem;
        outline: none;
        cursor: pointer;

        &:focus {
            text-decoration: underline;
        }
      }
    }

    &-sub-menu {
        position: relative;
    }

    // Dropdown btn
    &-sub-menu__title {
        background: none;
        border: none;

        &:focus {
            text-decoration: underline;
        }
    }
}

.nav::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #1FA2FF;  /* fallback for old browsers */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);    
}

.nav-list-about {
    visibility: hidden;
    position: absolute;
    right: 0;
    display: flex;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 8px 18px hsla(210, 8%, 62%, 0.2);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;

    transform: translate3d(0, -20px, 0);
    transition: opacity 300ms ease,
                transform 300ms ease;
    opacity: 0;
    z-index: var(--z-foreground-menu);

    &-item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        
        &:hover {
            background-color: hsl(204, 45%, 96%);
        }
    }

    &-link {
        display: block;
        padding: 1.5rem 3rem;
    }
}

// Animate drop-down
.nav-list-about--show {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

// Dropdown Menu Chevron
.nav-sub-menu__title {
    position: relative;
    
    &::after {
        content: "";
        top: 52%;
        right: .25rem;
        transform: translateY(-55%) rotate(0);
        transition: transform 300ms ease;
        width: 20px;
        height: 20px;
        position: absolute;
        background-image: url(../../assets/images/icons/icon-cheveron-down.svg);
        background-repeat: no-repeat;
    }
}

// Animate chevron
.nav-sub-menu__title--rotate::after {
    transform: translateY(-45%) rotate(-180deg);
}

// Section scroll highlight link styling
.nav-list-main-item-link {
    transition: color 200ms ease-in-out;
}

.nav-list-main-item-link.active {
    color: #4299e1;
}

.header {
    position: relative;
    min-height: 88vh;

    &-info {
        margin-top: 6.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            margin: 2rem 0;
        }

        &-projects {
            margin-top: 6rem;
        }
    }

    // Skewed background
    &::before {
        content: "";
        position: absolute;
        z-index: var(--z-background);
        width: 100%;
        height: 100%;
        transform: skewY(-9deg);
        transform-origin: top left;
        background: #fff;
    }
}

// Header Animations
@keyframes float-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-info {
    &-title,
    &-projects {
        opacity: 0;
        will-change: opacity, transform;
        animation: float-up 600ms var(--alt-ease) forwards;
    }

    &-title { animation-delay: 200ms; }
    &-projects { animation-delay: 400ms; }
}