.portfolio {
    padding: 6rem 0rem;

    &-title {
        margin-bottom: 2rem;
        text-align: center;
    }

    &-cards {
        width: 70rem;
        max-width: 90%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        grid-gap: 3rem 2rem;
    }
}

.portfolio-card {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .22);
    background-color: #fff;
    border-radius: 4px;

    &-img {
        width: 100%;
        height: auto;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &-content {
        padding: 1rem 2.875rem;
    }

    &-title,
    &-icons-list {
        margin-bottom: .75rem;
    }

    &-title {
        font-weight: 400;
        font-size: var(--fz-lg);
    }

    &-icons {

        &-list {
            list-style: none;
            display: flex;
        }

        &-item:not(:last-of-type) {
            margin-right: 1rem;
        }

        &-item {
            background-color: #cbd5e0;
            border-radius: 50%;

            &-link {
                position: relative;
                display: inline-flex;
                padding: .75rem;

                // Begin Tooltip
                &::before {
                    opacity: 0;
                    transition: opacity 120ms ease-in-out,
                                transform 120ms ease-in-out;
                    pointer-events: none;

                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translate(-50%, 110%) scale(.8);
                    content: attr(data-tooltip);
                    width: 100%;
                    text-align: center;
                    padding: .5rem .75rem;
                    border-radius: 4px;
                    background-color: #32325d;
                    color: hsl(217, 97%, 99%);
                }

                &:hover::before {
                    opacity: 1;
                    transform: translate(-50%, 110%) scale(1);
                }
                // End Tooltip
            }
        }
    }

}