* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-clr: #00123b;
    --bg-clr: #0b395b;
    --bg-light-clr: hsl(206, 78%, 35%);
    --bg-button-clr: #41B883;
}

html,
button {
    font-family: 'Exo 2', sans-serif; 
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

@import "header";