// Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-clr: #181554;
    --bg-clr: #0b395b;
    --bg-light-clr: hsl(206, 78%, 35%);
    --light-green: #41B883;
    --dark-grey: #0c1014;
    --btn-glow: 0 0 20px rgba(65, 184, 131, .8);

    --sub-heading-fz: 2.025rem;
}

html,
button,
::before,
::after {
    font-family: 'Exo 2', sans-serif;
    letter-spacing: .02em;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #fff, #eee);
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

p {
    line-height: 1.6;
}

p + p {
    margin-top: 1.5rem;
}

@import "header";
@import "about-me";
@import "about-skills";
@import "about-skills";
@import "portfolio";
@import "contact";
@import "footer";